<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
 	<bean id="PasswordValidator" class="org.sideproject.validator.service.PasswordValidatorService">
 		<constructor-arg name = "rules">  
			<list>  
				<ref bean = "RuleOfNonEmpty"/> 
				<ref bean = "RuleOfLowercaseNumbericDigit"/> 
				<ref bean = "RuleOfLength"/> 
				<ref bean = "RuleOfNonConsecutiveDigit"/> 
			</list>  
		</constructor-arg>  

<!-- 	    
		<property name="rules">
			<list>
				<value>(^[a-z]+\d+$)|(^\d+[a-z]+$)</value>
				<value>(^.{5,12}$)</value>
				<value>^(?!.*(\w{1,})\1).+$</value>
			</list>
		</property> 
-->
  	</bean>
  	
  	<bean id="RuleOfNonEmpty" class="org.sideproject.validator.rule.RegExRule">
  		<constructor-arg name = "code" value = "100">  
		</constructor-arg>
		  
		<constructor-arg name = "description" value = "Password can't blank">  
		</constructor-arg>
		
  		<constructor-arg name = "regEx" value = "(.+)">  
		</constructor-arg>  
  	</bean>
  	
  	<bean id="RuleOfLowercaseNumbericDigit" class="org.sideproject.validator.rule.RegExRule">
  		<constructor-arg name = "code" value = "101">  
		</constructor-arg>
		  
		<constructor-arg name = "description" value = "Password must contain lowercase and numberic digit">  
		</constructor-arg>
		
  		<constructor-arg name = "regEx" value = "(^[a-z]+\d+[a-z0-9]*$)|(^\d+[a-z]+[a-z0-9]*$)">  
		</constructor-arg>  
  	</bean>
  	
  	<bean id="RuleOfLength" class="org.sideproject.validator.rule.RegExRule">
  		<constructor-arg name = "code" value = "102">  
		</constructor-arg>
		  
		<constructor-arg name = "description" value = "Password must be between 5 and 12 characters in length">  
		</constructor-arg>
		
  		<constructor-arg name = "regEx" value = "(^.{5,12}$)">  
		</constructor-arg>  
  	</bean>
  	
  	<bean id="RuleOfNonConsecutiveDigit" class="org.sideproject.validator.rule.RegExRule">
  		<constructor-arg name = "code" value = "103">  
		</constructor-arg>
		  
		<constructor-arg name = "description" value = "Password must not contain consecutive digit">  
		</constructor-arg>
		
  		<constructor-arg name = "regEx" value = "^(?!.*(\w{1,})\1).+$">  
		</constructor-arg>  
  	</bean>
</beans>